@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'ProximaNova';
    src: url('/src/assets/fonts/TikTokFont-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'ProximaNova';
    src: url('/src/assets/fonts/TikTokFont-Semibold.woff2') format('woff2');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'ProximaNova';
    src: url('/src/assets/fonts/TikTokFont-Bold.woff2') format('woff2');
    font-weight: 700;
  }
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
}